

.box {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 150px;
  background: rgb(73, 238, 123);
  margin: 20px;
  justify-content: center;
  align-items: center;
}
form {
  padding: 10px;


}
input {
  width: 30%;
}
button{
  color: white;

  background-color: black;
}
.page{

  background-color: lavender;
}
